h1, h2, h3, h4, h5{
	color: #ff4400;
	font-weight: bold;
}
.container{
	max-width: 940px;
	margin: 0 auto;
	min-height: 100%;
}
nav > ul > li{
	width: 223px;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #e2e7e3;
	margin: 1em 0;
	padding: 0;
}
ul{
	list-style-type: none;
	padding: 0;
}
a{
	color: #ff4400;
}
a:hover,
a:focus{
	color: #ff4400;	
}
.container .left-container{
	padding-right: 0;
}
.left-container .well.well-olympia{
	border-radius: 0;
	padding: 0
}
.left-container .well.well-olympia .dashboard-image{
	position: relative;
}
.left-container .well.well-olympia .dashboard-image img{
	width: 100%;
}
.left-container .well.well-olympia .overlay-container{
	padding: 5px 10px;
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.6);
	border-top: 1px solid #ffffff;
	width: 100%;
}
.left-container .well.well-olympia .overlay-container label{
	color: #ffffff;
	display: block;
}
.left-container .well.well-olympia .overlay-container label span{
	float: right;
}
.left-container .well.well-olympia .overlay-container .progress{
	background: rgba(148, 147, 147, 0.6);
	border: 1px solid #ffffff;
}
.left-container .well.well-olympia .overlay-container .progress .progress-bar.progress-bar-success{
	background: rgba(92, 184, 92, 0.6);
	border-right: 1px solid;
	border-radius: 4px;
} 
.left-container .well.well-olympia .progress-container{
	padding: 40px 15px 10px;
}
.left-container .well.well-olympia .profile-data{
	padding: 5px 7px 0 7px;
}
.left-container .well.well-olympia .profile-data label.title{
	font-size: 16px;
	margin-bottom: 0;
	padding-top: 15px;
	color: #ff4400;
}
.left-container .well.well-olympia .profile-data label.title.addresses{
	padding-top: 5px;
}
.left-container .well.well-olympia .profile-data ul{
	list-style-type: none;
	padding: 2px 0;
}
.left-container .well.well-olympia .profile-data ul li .olympia-icon{
	float: right;
	font-size: 1.22em;
	color: #666666;
	cursor: pointer;
}
.left-container .well.well-olympia .profile-data ul li:first-child{
	padding-top: 3px;
}
.left-container .well.well-olympia .profile-data .btn.btn-primary{
	padding: 4px 20px;
	position: relative;
	float: right;
}
.left-container .well.well-olympia .profile-data .sub-title{
	font-size: 12.9px;
	display: block;
}
.left-container .well.well-olympia .profile-data.cv{
	margin-top: 30px;
}
/***********/
/*side-menu*/
/***********/
.left-container .well.well-olympia .side-menu ul{
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
} 
.left-container .well.well-olympia .side-menu ul li{
	width: 100%;
}
.left-container .well.well-olympia .side-menu ul li:first-child{
	margin-bottom: 10px
}
.left-container .well.well-olympia .side-menu ul li:hover a,
.left-container .well.well-olympia .side-menu ul li:focus a{
	background: #f7f9f8;
}
.left-container .well.well-olympia .side-menu ul li:hover a,
.left-container .well.well-olympia .side-menu ul li:focus a{
	color: #ff4400;
}
.left-container .well.well-olympia .side-menu ul li a{
	padding: 13px 10px;
	font-size: 12px;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	width: 100%;
	display: block;
	background: #eeeeee;
	border: 1px solid #ddd;
	color: #555;
	font-weight: 700;
}
.left-container .well.well-olympia .side-menu ul li a:hover,
.left-container .well.well-olympia .side-menu ul li a:focus{
	text-decoration: none;
}
.left-container .well.well-olympia .side-menu ul li.active a{
	background: #ffffff;
}
.left-container .well.well-olympia .side-menu ul li.active a{
	color: #ff4400;
}
/*****************/
/*Right conatiner*/
/*****************/
.right-container .well.well-olympia{
	border-radius: 0;
	padding: 0 15px;
	background: #ffffff;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0px rgba(166, 166, 166, 0.25);
	box-shadow: 0px 0px 5px 0px #f6f6f6\9;
	margin: 0;
}
.right-container .well.well-olympia .box-inner{
	padding: 15px 0;
}
.right-container .well.well-olympia .box-inner label.title{
	display: inline;
	font-size: 16px;
	color: #ff4400;
}
.right-container .well.well-olympia .box-inner hr {
	margin-top: 12px;
	margin-bottom: 12px;
}
.right-container .well.well-olympia .bewerk a{
	margin-right: 5px;
}
.right-container .well.well-olympia .bewerk i.olympia-icon{
	font-size: 1.22em;
	position: relative;
	top: 1px;
}
.right-container .well.well-olympia + .well.well-olympia{
	margin-top: 20px;
}
.right-container .well.well-olympia.orange-well{
	background: #ff4400;
}
.right-container .well.well-olympia.orange-well label,
.right-container .well.well-olympia.orange-well h1,
.right-container .well.well-olympia.orange-well a{
	color: #ffffff;
	display: block
}
.right-container .well.well-olympia.orange-well .row .input-box{
	padding-right: 0;
}
.right-container .well.well-olympia.orange-well .row .input-box input[type="text"]{
	border-radius: 2px;
	font-size: 10px;
}
.right-container .well.well-olympia.orange-well .row select{
	width: 80px;
	border-radius: 2px;
	display: inline-block;
	padding: 6px 3px;
	font-size: 12px;
	cursor: pointer;
}
.right-container .well.well-olympia.orange-well .row .btn{
	width: 52%;
	margin-left: 10px;
	height: 35px;
	position: relative;
	top: -1px;
}
.right-container .well.well-olympia.orange-well .row .btn i{
	padding-right: 6px;
}
.right-container .well.well-olympia.orange-well a{
	padding-top: 5px;
}
.right-container .well.well-olympia .half-box{
	padding: 15px;
}
.right-container .well.well-olympia .half-box.last-box{
	border-left: 1px solid #ccc;
}
.right-container .well.well-olympia .half-box label.title{
	font-size: 16px;
	color: #ff4400;
	margin-right: 4px;
}
.right-container .half-well{
	margin-top: 20px;
}
.right-container .half-well .col-lg-6 {
	padding-right: 5px;
}
.right-container .half-well .col-lg-6:last-child {
	padding-right: 15px;
	padding-left: 5px;
}
.right-container .half-well .col-lg-6:first-child .well.well-olympia{
	min-height: 166px;
}
.right-container .half-well .well.well-olympia{
	padding: 10px
}
.right-container .half-well .well.well-olympia .title{
	font-size: 16px;
	color: #ff4400;
}
.right-container .half-well .well.well-olympia ul{
	padding: 10px 15px;
	list-style-type: square;
	color: #ff4400;
}
.right-container .half-well .well.well-olympia ul li span{
	color: #333333;
}
.right-container .half-well .well.well-olympia .video-box{
	padding: 10px;
	text-align: center;
	border: 2px dashed #aaa;
}
/************/
/*alert page*/
/************/
.alert-box.right-container .well.well-olympia label.title{
	font-size: 16px;
	color: #ff4400;	
}
.alert-box.right-container .well.well-olympia .label-container{
	padding-top: 15px;
}
.alert-box.right-container .well.well-olympia .details ul li strong,
.alert-box.right-container .well.well-olympia .details ul li span{
	display: block;
}
.alert-box.right-container .well.well-olympia .details ul li{
	padding-bottom: 10px;
}
.alert-box.right-container .well.well-olympia .details ul li:last-child{
	padding-bottom: 0;
}
.alert-box.right-container .well.well-olympia .accordion .job-title{
	margin-left: 10px;
	display: inline-block;
}
.alert-box.right-container .well.well-olympia .accordion .header{
	background: rgb(244, 244, 244);
	border: 1px solid #dddddd;
}
.alert-box.right-container .well.well-olympia .accordion .header .form-group{
	margin-bottom: 0;
	display: inline-block;
	border-right: 1px solid #DFDCDC;
	padding: 12px;
}
.alert-box.right-container .well.well-olympia .accordion .job-body{
	background: #ffffff;
	border: 1px solid #ccc;
	padding: 15px;
	border-top: none;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}